@using EntityLayer.Concrete
@model List<Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Aktif Tur Rotalarımız</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center justify-content-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Şehir</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Süre</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kapasite</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fiyat</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Detaylar</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td><div class="d-flex px-2"><h6 class="mb-0 text-sm">@item.City</h6></div></td>
                                    <td><p class="text-xs font-weight-bold mb-0">@item.DayNight</p></td>
                                    <td><p class="text-xs font-weight-bold mb-0">@item.Capacity Kişi</p></td>
                                    <td><p class="text-xs font-weight-bold mb-0">@item.Price ₺</p></td>
                                    <td><a href="#" class="badge badge-sm bg-gradient-success">Detaylar</a></td>


                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


